<div class="container sidebar">
  <div class='row hidden-xs'>
    <div class='col-xs-3 col-xs-offset-9'>

      <h2>DFA Rice Blog</h2>

      <img src="{{ site.url }}/assets/images/ideate.jpg" alt="Cool Picture">

      <hr>

      <article>
          Studio updates, upcoming events, team member profiles, and more.
      </article>

      <hr>

      <h3>Archive</h3>
        <ul>

          {% for post in site.posts %}

            <li>
              <a href="{{ post.url }}" class="sidebar-link">{{ post.title }}</a>
            </li>

            {% if forloop.index == 7 %}
              {% break %}
            {% endif %}

          {% endfor %}

          <li><a href="{{ site.url }}/archive">Click for more</a></li>

        </ul>

    </div>
  </div>

</div>

<h3 class="visible-xs-block">Design For America Rice Blog</h3>
<h4><a href="{{ site.url }}/archive" class="visible-xs-block">Archive</a></h4>
