---
layout: default
---


<div class="container">
  {% include sidebar.html %}

  <div class="row">
    <div class="col-xs-10 col-sm-8 col-lg-7">

      <header class="post-header">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <p class="date-author">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}</p>
      </header>

      <hr>

      <article class="post-content">
        {{ content }}
      </article>

    </div>
  </div>
</dov>